<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
    <svg class="bi me-2" width="10" height="5" role="img" aria-label="Bootstrap">
        <img src="~/Images/logo.png" style="width:fit-content; height:fit-content"/>
     </svg>
     <h3 style="color:#ff9f00">Smart Cooking</h3>
</a>

<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-lg-5">
          <li><a style="color:yellow; font-size:18px; text-decoration: none;" class="nav-link px-2" href="/Userr/Home" method="get">Home</a></li>
          <li><a style="color:#ffc87c; font-size:18px; text-decoration: none;" class="nav-link px-2" href="/Userr/Features" method="get">Features</a></li>
          <li><a style="color:#ffc87c; font-size:18px; text-decoration: none;" class="nav-link px-2" href="/Userr/Pricing" method="get">Pricing</a></li>
          <li><a style="color:#ffc87c; font-size:18px; text-decoration: none;" class="nav-link px-2" href="/Userr/FAQs" method="get">FAQs</a></li>
          <li><a style="color:#ffc87c; font-size:18px; text-decoration: none;" class="nav-link px-2" href="/Userr/AboutUs" method="get">About</a></li>
           <li><a style="color:#ffc87c; font-size:18px; text-decoration: none;" class="nav-link px-2" href="/Userr/ContactUs" method="get">Contact</a></li>
</ul>

<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-black bg-light" placeholder="Search Recipes..." aria-label="Search Recipes">
</form>