  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
         <form class="col-12 col-lg-auto mb-5 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-black bg-light" placeholder="Search Recipes by ingredient names..." aria-label="Search Recipes">
        </form>
         <h1 style="color:#f94d00">Some of our Recipes</h1>
         <p class="lead" style="color:#ffc87c; font-weight:bold">Following are some of our most liked and famous recipes. You can also search the recipes of your own choice by their names or ingredient names.</p>
      </div>
    </div>
  </section>
