   <div class="album py-2">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm" style="border: 3px solid orange; border-radius: 10px; width: 25rem; height: 28rem;">
             <img src="~/Images/AlbumThumbnails/1.png"/>
            <div class="card-body">
                <h5 class="card-title">Italian Deli Pasta Salad</h5>
              <p class="card-text">This is a delicious Italian Deli Pasta Salad recipe.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <button type="button" class="btn btn-warning me-2"><a href="/Userr/RecipeDetail" method="get" style="text-decoration:none; color:black;">View</a></button>
                </div>
                <small class="text-muted">3 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="border: 3px solid orange; border-radius: 10px; width: 25rem; height: 28rem;">
             <img src="~/Images/AlbumThumbnails/2.png" style="object-fit: fill"/>
            <div class="card-body">
               <h5 class="card-title">Butter Beaf</h5>
              <p class="card-text">This is a delicious Butter Beaf recipe.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <button type="button" class="btn btn-warning me-2">View</button>
                </div>
                <small class="text-muted">5 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="border: 3px solid orange; border-radius: 10px; width: 25rem; height: 28rem;">
             <img src="~/Images/AlbumThumbnails/3.png"/>
            <div class="card-body">
              <h5 class="card-title">Healthy Chicken Salad</h5>
              <p class="card-text">This is a delicious Healthy Chicken Salad recipe.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-warning me-2">View</button>
                </div>
                <small class="text-muted">3 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
         <div class="card shadow-sm" style="border: 3px solid orange; border-radius: 10px; width: 25rem; height: 28rem;">
             <img src="~/Images/AlbumThumbnails/4.png"/>
            <div class="card-body">
               <h5 class="card-title">Shipwreck Dinner</h5>
              <p class="card-text">This is a delicious Shipwreck Dinner recipe.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning me-2">View</button>
                </div>
                <small class="text-muted">2 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="border: 3px solid orange; border-radius: 10px; width: 25rem; height: 28rem;">
             <img src="~/Images/AlbumThumbnails/5.png"/>
            <div class="card-body">
               <h5 class="card-title">Easy Fried Zucchini</h5>
              <p class="card-text">This is a delicious Easy Fried Zucchini recipe.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning me-2">View</button>
                </div>
                <small class="text-muted">4 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="border: 3px solid orange; border-radius: 10px; width: 25rem; height: 28rem;">
             <img src="~/Images/AlbumThumbnails/6.png"/>
            <div class="card-body">
               <h5 class="card-title">Light and Easy Greek Potato Salad</h5>
              <p class="card-text">This is a delicious Potato Salad recipe.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning me-2">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm" style="border: 3px solid orange; border-radius: 10px; width: 25rem; height: 28rem;">
             <img src="~/Images/AlbumThumbnails/7.png"/>
            <div class="card-body">
              <h5 class="card-title">Warm Corn Salad</h5>
              <p class="card-text">This is a delicious Warm Corn Salad recipe.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning me-2">View</button>
                </div>
                <small class="text-muted">7 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="border: 3px solid orange; border-radius: 10px; width: 25rem; height: 28rem;">
             <img src="~/Images/AlbumThumbnails/8.png"/>
            <div class="card-body">
               <h5 class="card-title">Skillet Meatloaf</h5>
              <p class="card-text">This is a delicious Skillet Meatloaf recipe.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning me-2">View</button>
                </div>
                <small class="text-muted">2 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
         <div class="card shadow-sm" style="border: 3px solid orange; border-radius: 10px; width: 25rem; height: 28rem;">
             <img src="~/Images/AlbumThumbnails/9.png"/>
            <div class="card-body">
               <h5 class="card-title">Watermelon Feta Salad</h5>
              <p class="card-text">This is a delicious Watermelon Feta Salad recipe.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning me-2">View</button>
                </div>
                <small class="text-muted">6 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



