
    <div class="col mb-3" style="margin-left: 13%">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="5" height="1" role="img" aria-label="Bootstrap">
              <img src="~/Images/logo.png" style="width:fit-content; height:fit-content"/>
           </svg>
      </a>
      <p class="text-muted ms-2">&copy; 2022</p>
    </div>


    <div class="col mb-1">
      <h5 style="color:white">Menu</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a style="text-decoration: none;" class="nav-link p-0 text-muted" href="/Userr/Welcome" method="get">Home</a></li>
        <li class="nav-item mb-2"><a style="text-decoration: none;" class="nav-link p-0 text-muted" href="/Userr/Features" method="get">Features</a></li>
        <li class="nav-item mb-2"><a style="text-decoration: none;" class="nav-link p-0 text-muted" href="/Userr/FAQs" method="get">FAQs</a></li>
        <li class="nav-item mb-2"><a style="text-decoration: none;" class="nav-link p-0 text-muted" href="/Userr/AboutUs" method="get">About Us</a></li>
      </ul>
    </div>

    <div class="col mb-1">
      <h5 style="color:white">Contact Us</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="https://www.facebook.com/laiba.kamal.792" class="nav-link p-0 text-muted">Facebook</a></li>
        <li class="nav-item mb-2"><a href="https://www.instagram.com/laiba.kamal.792/" class="nav-link p-0 text-muted">Instagram</a></li>
        <li class="nav-item mb-2"><a href="https://twitter.com/LaibaKamal13?s=09" class="nav-link p-0 text-muted">Twitter</a></li>
        <li class="nav-item mb-2"><a href="laibakamal003@gmail.com" class="nav-link p-0 text-muted">Gmail</a></li>
      </ul>
    </div>

    <div class="col mb-1">
      <h5 style="color:white">About "Smart Cooking"</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a style="text-decoration: none;" class="nav-link p-0 text-muted" href="/Userr/AboutUs/#au5" method="get">Categories of recipes we have</a></li>
        <li class="nav-item mb-2"><a style="text-decoration: none;" class="nav-link p-0 text-muted" href="/Userr/AboutUs/#au1" method="get">Who we are?</a></li>
        <li class="nav-item mb-2"><a style="text-decoration: none;" class="nav-link p-0 text-muted" href="/Userr/AboutUs/#au2" method="get">Our History</a></li>
        <li class="nav-item mb-2"><a style="text-decoration: none;" class="nav-link p-0 text-muted" href="/Userr/AboutUs/#au3" method="get">Community Guidelines</a></li>
        <li class="nav-item mb-2"><a style="text-decoration: none;" class="nav-link p-0 text-muted" href="/Userr/AboutUs/#au4" method="get">Product Reviews</a></li>
      </ul>
    </div>