 <header class="p-2" style="background-color:currentColor; max-width:130%; margin-right:-0.8%; margin-left: -0.8%; box-shadow: 3px 3px 3px 5px #a3a39c;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <partial name="~/Views/Shared/PartialViews/_NavBar.cshtml"/>
      </div>
    </div>
  </header>