html {
    font-size: 14px;
    color: aliceblue;
}

@media (min-width: px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

/*body {
    position: relative;*/
/* background-repeat: repeat-y;*/
/*background-image: linear-gradient(to right, black, gray);*/
/*background-image: url("../Images/bg.png");*/
/*background-size: contain;*/
/*opacity: 0.5;*/
/*}

    body::before {
        content: "";
        position: absolute;
        background-repeat: repeat-y;*/
/*        top: 0;
        left: 0;
        width: 100%;
        height: 100%;*/
/*background-image: url("../Images/bg.png");
        background-size: contain;
        opacity: 0.5;
    }*/




body {
    position: relative;
}

    body::before {
        content: ' ';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../Images/bg.png");
        background-repeat: repeat-y;
        background-size: contain;
        background-position: 50% 0;
        opacity: 80%;
        z-index: -1;
        filter: brightness(40%);
    }

.container {
    position: relative;
}

.wrapper {
}

.errors {
    color: red;
}


.logoImage {
    height: 100px;
    width: 100px;
}
