
     <partial name="~/Views/Shared/PartialViews/Nav.cshtml"/>



     <h2 class="display-5 text-center mb-5 mt-5 pb-2 text-warning fw-bold">About Smart Cooking</h2>
<div id="au1" class="d-flex justify-content-center align-content-center px-5 py-5 ms-5 me-5 mt-5"  style="background-color: #ffd69d; border-radius: 25px">
    <h1  class="align-items-center text-danger">Who We Are?</h1>
    <p class="align-items-center fs-5 fw-normal ms-3">Home cooks are our heroes; it's as simple as that. Allrecipes is a community built by and for kitchen experts: The cooks who will dedicate two days to a perfect beef bourguignon but love the simplicity of a slow-cooker rendition, too. The bakers who labor over a showstopping 9-layer cake but will just as happily doctor boxed brownies for a rich weeknight dessert. The entertainers who just want a solid snack spread, without spending the whole evening shuffling dishes in and out of the oven. Most importantly, Allrecipes connects home cooks with their greatest sources of inspiration — other home cooks. We're the world's leading digital food brand, and that inspires us to do everything possible to keep our community vibrant. Sixty-million home cooks deserve no less. 

</p>

</div>


<div id="au2" class="d-flex justify-content-center align-content-center px-5 py-5 ms-5 me-5 mt-5"  style="background-color: #ffd69d; border-radius: 25px">
    <h1  class="align-items-center text-danger">Our History</h1>
    <p class="align-items-center fs-5 fw-normal ms-3">

        
        Founded in 1997 as CookieRecipe.com, Allrecipes changed the food world by providing the tools to share recipes and cooking tips, while celebrating the expertise of home cooks online. Since then, Allrecipes has become the world's largest community-driven food brand, providing trusted resources to more than 60 million home cooks each month. 

Every day, cooks from around the world publish recipes and inspire one another through recipe photos, ratings, reviews, and videos. The combination of the Allrecipes community with our team of editorial and kitchen professionals provides authority found nowhere else on the internet and has turned the brand into an indispensable resource for cooks of all skill levels.

You can connect with us and our 11M followers on social media, too. On TikTok, learn how much salt to add to your pasta water or find out if air fryer custard toast lives up to the hype. On Facebook, Pinterest, and Twitter, browse easy weeknight meals and scour reviews of the world's best air fryers. Find photo-worth dinner inspiration on Instagram. And on YouTube, cook along with Chef John, who serves up creative, new recipes weekly — alongside a few good laughs and a well-timed pun. 

In 2020, Allrecipes launched our first podcast, Homemade which you can find on all major audio platforms. Our hosts interview chefs, cookbook authors and home cooks who share their stories, food memories, and favorite moments in the kitchen. 

If you own an Amazon Alexa or Google Assistant device, you'll find our recipes easily discoverable via Voice search. Apple and Android users can access their saved recipes and search using the Dinner Spinner app. 



<h5 class="fw-bold lh-1">Above all, we are:</h5>
<ul class="justify-content-center"style="list-style-type:square">
                <li>Friendly We are your best friend in the kitchen. </li>
                <li>Supportive  We don't judge, but we like to dish about new ideas. </li>
                <li>Creative We inspire creativity for the big, the small, and everything in between. </li>
                <li>Approachable No attitude here! </li>
</ul>

</p>

</div>



<div id="au3" class="d-flex justify-content-center align-content-center px-5 py-5 ms-5 me-5 mt-5"  style="background-color: #ffd69d; border-radius: 25px">
    <h1  class="align-items-center text-danger">Community Guidelines</h1>
    <p class="align-items-center fs-5 fw-normal ms-3">
        We moderate every review and photograph added to a recipe. When leaving reviews, we ask that you remember a fellow Allrecipes community member has shared their recipe with you. Constructive feedback is always welcome, but rude, mean, disrespectful, or spammy comments are not welcome and will not be approved.
</p>

</div>



<div id="au4" class="d-flex justify-content-center align-content-center px-5 py-5 ms-5 me-5 mt-5"  style="background-color: #ffd69d; border-radius: 25px">
    <h1  class="align-items-center text-danger">Product Reviews</h1>
    <p class="align-items-center fs-5 fw-normal ms-3">
        Our product reviews are independent and based on research and product testing — if you visit links within our content, we may receive commissions from your purchases, but we never receive any compensation or consideration for the content of our recommendations. Learn more about our review process.
</p>

</div>



<div id="au5" class="d-flex justify-content-center align-content-center px-5 py-5 ms-5 me-5 mt-5"  style="background-color: #ffd69d; border-radius: 25px">
    <h1  class="align-items-center text-danger">Categories of recipes we offer</h1>
    <p class="align-items-center fs-5 fw-normal ms-3">Home cooks are our heroes; it's as simple as that. Allrecipes is a community built by and for kitchen experts: The cooks who will dedicate two days to a perfect beef bourguignon but love the simplicity of a slow-cooker rendition, too. The bakers who labor over a showstopping 9-layer cake but will just as happily doctor boxed brownies for a rich weeknight dessert. The entertainers who just want a solid snack spread, without spending the whole evening shuffling dishes in and out of the oven. Most importantly, Allrecipes connects home cooks with their greatest sources of inspiration — other home cooks. We're the world's leading digital food brand, and that inspires us to do everything possible to keep our community vibrant. Sixty-million home cooks deserve no less. 

</p>

</div>




   <footer class="bg-dark row row-cols-1 row-cols-sm-2 row-cols-md-5 mt-5 mb-0 py-5">
        <partial name="~/Views/Shared/PartialViews/Footer.cshtml"/>
     </footer>



