<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!--Section: FAQ-->

     <partial name="~/Views/Shared/PartialViews/Nav.cshtml"/>

  
<section>
  <h2 class="display-5 text-center mb-5 mt-5 pb-2 text-warning fw-bold">FAQs</h2>
  <h4 class="text-center mb-5 text-info">
    Find the answers for the most frequently asked questions below
  </h4>

  <div class="row mt-5 ms-5 me-5">
    <div class="col-md-6 col-lg-4 mb-4 p-3" style="background-color: #ffd69d; border-radius: 25px">
      <h5 class="mb-3 text-danger fw-bold"><i class="fa fa-paper-plane text-danger pe-2"></i> Can I search recipes with the name of ingredients?</h5>
      <p>
        <strong><u>Absolutely!</u></strong> You can do your search by giving ingredients names. You can also search by giving the name of the dish you want to cook.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4 p-3" style="background-color: #ffd69d; border-radius: 25px">
      <h5 class="mb-3 text-danger fw-bold"><i class="fa fa-link text-danger pe-2"></i>Do you keep adding new recipes?</h6>
      <p>
        <strong><u>Yes,</u></strong> We add recipes regularly. We also keep updating the existing recipes.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4 p-3" style="background-color: #ffd69d; border-radius: 25px">
      <h5 class="mb-3 text-danger fw-bold"><i class="fa fa-user text-danger pe-2"></i> Can the visitors of your website add their own recipes?
      </h6>
      <p>
        Currently, we only offer our recipes. You can just views them for now.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4 p-3" style="background-color: #ffd69d; border-radius: 25px">
      <h5 class="mb-3 text-danger fw-bold"><i class="fa fa-rocket text-danger pe-2"></i> Do you have variety of pasta recipes?
      </h6>
      <p>
        Yes, you can search for variety of pastas by their names or ingradients.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4 p-3" style="background-color: #ffd69d; border-radius: 25px">
      <h5 class="mb-3 text-danger fw-bold"><i class="fa fa-home text-danger pe-2"></i>Do you offer recipes for vegetarians?
      </h6>
      <p><strong><u>Yes,</u></strong> We do offer recipes for vegetarians. You can search for them by their names or ingredients.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4 p-3" style="background-color: #ffd69d; border-radius: 25px">
      <h5 class="mb-3 text-danger fw-bold"><i class="fa fa-book text-danger pe-2"></i>Do you offer desi food recipes?</h6>
      <p>
        Yes, we have all types of desi recipes too. You can search for them by their names or ingredients.
      </p>
    </div>
  </div>
</section>


     <footer class="bg-dark row row-cols-1 row-cols-sm-2 row-cols-md-5 mt-5 mb-0 py-5">
        <partial name="~/Views/Shared/PartialViews/Footer.cshtml"/>
     </footer>



<!--Section: FAQ-->


