<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!--Section: FAQ-->

     <partial name="~/Views/Shared/PartialViews/Nav.cshtml"/>

  
<section>
  <h2 class="display-5 text-center mb-5 mt-5 pb-2 text-warning fw-bold">Features</h2>
  <h4 class="text-center mb-5 text-info">
    These are the features of this website!
  </h4>

  <div class="row mt-5 ms-5 me-5">
    <div class="col-md-6 col-lg-4 mb-4 p-3" style="background-color: #ffd69d; border-radius: 25px">
      <h5 class="mb-3 text-danger fw-bold"><i class="fa fa-paper-plane text-danger pe-2"></i> Recipes</h5>
      <p>
        You can view details of recipes of your choice.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4 p-3" style="background-color: #ffd69d; border-radius: 25px">
      <h5 class="mb-3 text-danger fw-bold"><i class="fa fa-link text-danger pe-2"></i>Add your recipe</h5>
      <p>
         You can also add your own recipes to the website in near future. We are working on it.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4 p-3" style="background-color: #ffd69d; border-radius: 25px">
      <h5 class="mb-3 text-danger fw-bold"><i class="fa fa-user text-danger pe-2"></i> Profile</h5>
      <p>
        You can signup on our website and create your own account.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4 p-3" style="background-color: #ffd69d; border-radius: 25px">
      <h5 class="mb-3 text-danger fw-bold"><i class="fa fa-rocket text-danger pe-2"></i> Paid features
      </h5>
      <p>
        We are starting with free features but we will soon add paid features to the website, which includes adding your own recipes and more...
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4 p-3" style="background-color: #ffd69d; border-radius: 25px">
      <h5 class="mb-3 text-danger fw-bold"><i class="fa fa-home text-danger pe-2"></i>Search by recipe name</h5>
      <p>You can search recipes by entering their names.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4 p-3" style="background-color: #ffd69d; border-radius: 25px">
      <h5 class="mb-3 text-danger fw-bold"><i class="fa fa-book text-danger pe-2"></i>Search by recipe ingredient name</h5>
      <p>
        You can search recipes by their ingredient names.
      </p>
    </div>
  </div>
</section>


     <footer class="bg-dark row row-cols-1 row-cols-sm-2 row-cols-md-5 mt-5 mb-0 py-5">
        <partial name="~/Views/Shared/PartialViews/Footer.cshtml"/>
     </footer>



<!--Section: FAQ-->


