
@using Smart_Cooking_App.Models;
@model Userr

@{
    //ViewData["Title"] = "SignUp Page";
   
}



<script type="text/javascript">
    function submitUser() {
        var data = {
            Id:"1",
            Name: $("#name").val(),
            Username: $("#username").val(),
            Email: $("#email").val(),
            Password: $("#password").val(),
            ConfirmPassword: $("#repeatPassword").val(),
            Role: "User"
        }
        console.log(data);
        $.ajax({
            type: 'POST',
            url: '/Userr/SignUp',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (data) {
                alert('Successfully received Data ');
                console.log(data);
            },
            error: function () {
                console.log('Failed');
            }
        })
    }
</script>



<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black justify-content-center" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center  ms-lg-5">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4">
                     @*action="/Userr/SignUp" method="post"*@
                    
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label asp-for="Name" class="form-label">Your Name</label>
                      <input asp-for="Name" class="form-control" id="name">
                       <span asp-validation-for="Name" class ="errors" ></span>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label asp-for="Username" class="form-label">Username</label>
                      <input asp-for="Username" class="form-control" id="username">
                       <span asp-validation-for="Username" class ="errors" ></span>
                    </div>
                  </div>
                  

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label asp-for="Email" class="form-label">Your Email</label>
                       <input asp-for="Email" class="form-control" id="email">
                       <span asp-validation-for="Email" class ="errors" ></span>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label asp-for="Password" class="form-label">Password</label>
                       <input asp-for="Password" class="form-control" id="password">
                       <span asp-validation-for="Password" class ="errors" ></span>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label asp-for="Password" class="form-label">Repeat your Password</label>
                       <input asp-for="Password" class="form-control" id="repeatPassword">
                       <span asp-validation-for="Password" class ="errors" ></span>
                    </div>
                  </div>


                  <span class ="errors">@ViewBag.UserExists</span>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg" onclick="submitUser()">Register</button>
                  </div>
                </form>

                 <p class="mb-3" style="text-align:center"><a href="/Userr/Login" method="get" style="color:black">Already have an account? Login</a> </p>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="~/Images/SignupImg.jpg" 
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





@section SetLoginBgImg
{
    <style>
        body
      {
          background-image: none;
      }
    </style>
}



 @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}