<!-- JQUERY STEP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>



   <partial name="~/Views/Shared/PartialViews/Nav.cshtml"/>

<div class="mx-5 my-5 px-5 py-5"style="background-color: #ffd69d; border-radius: 25px">
    <div class="wrapper">
        <form action="">
                <div class="form-row"> <input type="text" class="form-control" placeholder="Name"> </div>
                <div class="form-row"> <input type="text" class="form-control" placeholder="Email"> </div>
                <div class="form-row"> <input type="text" class="form-control" placeholder="Phone number"> </div>
                <div class="form-row"> <input type="text" class="form-control" placeholder="Street address"> </div>
                <div class="form-row"> <input type="text" class="form-control" placeholder="country"> </div>
                <div class="form-row"> <input type="text" class="form-control" placeholder="zip code"> </div>
                <div class="form-row" style="margin-bottom: 18px"> <textarea name="" id="" class="form-control" placeholder="Any order note about delivery or special offer" style="height: 108px"></textarea> </div>
                <i class='fa fa-check-circle'></i>
                <p class="success">Order placed successfully. Your order will be dispacted soon. meanwhile you can track your order in my order section.</p>
        </form>
    </div>
</div>



     <footer class="bg-dark row row-cols-1 row-cols-sm-2 row-cols-md-5 mt-5 mb-0 py-5">
        <partial name="~/Views/Shared/PartialViews/Footer.cshtml"/>
     </footer>
 